<div class="row">
    {{#if burgers}}
    <div class="col-md-6">
        <ul>
            {{#each burgers}}
            {{#unless this.eaten_status}}
            <li>
                <p>{{this.id}}: {{this.burger_name}}</p>
                <button class="eat" type="submit" data="{{this.id}}">Eat it!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>


    {{!-- //////////////////////////////////////////////////////////////////////////////////// --}}

    <div class="col-md-6">
        <ul>
            {{#each burgers}}
            {{#if this.eaten_status}}
            <li>
                <p>{{this.id}}: {{this.burger_name}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

{{/if}}
